
  
  body {
    width: 1400px;
    margin: 0 auto;
    background-color: #bbe0e0;
  }
  header{
    background-color: #4591d4;
    height: 175px;
  }
  h1 {
    color:rgba(206, 66, 206, 0.432);
    font-size: 40px;
    margin-left: 5%;px;
    margin-top: 5%;px;
  }
 /* 
  header a {
    color: whitesmoke;
  }
  
  nav li {
    display: inline-block;
    margin-right: 60px;
    margin-top: 35px;
  }
  
  #mainStyle {
    background-color: rgb(157, 25, 233);
  }
  
  main li {
    float: left;
    margin: 30px 30px 30px 30px;
  }
  
  footer {
    clear: both;
    height: 250px;
    width: 100%;
    background-color:rgb(130, 177, 124)
  }
  
  img{
    display: block;
    margin: auto;
  }
  */