
  
  body {
    width: 1400px;
    margin: 0 auto;
    background-color: #bbe0e0;
  }
  header{
    background-color: #18f161;
    height: 175px;
  }
  h1 {
    color:rgba(206, 66, 206, 0.432);
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
  }
  header a {
    color: rgba(175, 165, 135, 0.959);
  }
  nav li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 25px;
  }
ul {
  list-style-type: none;
}


  #mainStyle {
    background-color: rgb(221, 163, 39);
  }
  main li {
    /* position: absolute; */
    top: 40px; right: 40px;
    margin: 50px 50px 50px 50px;
  }
  footer {
    clear: both;
    height: 250px;
    width: 100%;
    background-color:rgb(130, 177, 124)
  }
  
  img{
    display: block;
    margin: auto;
  }
